<div class="container">
  <button (click)="goBackToMap()" class="back">Back to Map</button>
  
  <h2>Point Details</h2>
  <p>ID: {{ pointId }}</p>
  <p>Title: {{ pointTitle }}</p>

  <h3>Select Sensor Type</h3>
  <select [(ngModel)]="selectedSensorType" (change)="checkExistingSensor()">
    <option *ngFor="let sensor of sensorTypes" [value]="sensor">{{ sensor }}</option>
  </select>

  <div *ngIf="existingSensor !== null" class="sensor-table">
    <h3>{{ selectedSensorType }} Data</h3>

    <div *ngIf="showGraph">
      <app-sensor-graphs [pointId]="pointId" [sensorType]="selectedSensorType" [parameter]="selectedParameter" [sensorData]="getSortedSensorDataForGraph()"></app-sensor-graphs>
    </div>

    <div class="scrollable-table" [class.scrollable]="sensorData.length > 20">
      <table *ngIf="sensorData.length > 0" class="styled-table">
        <thead>
          <tr>
            <th>Date</th>
            <th *ngFor="let param of parameters">
              {{ param }}
              <button (click)="showSensorGraph(param)" class="icon-button">
                <span class="fa-rotate-270" style="display: inline-block;">
                  <i class="fas fa-chart-bar fa-flip-vertical"></i>
                </span>
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of sensorData">
            <td>{{ data['date'] | date: 'dd.MM.yyyy HH:mm:ss' }}</td>
            <td *ngFor="let param of parameters">{{ data[param] }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="sensorData.length === 0">
      <p>No data available.</p>
    </div>

    <div class="update-form">
      <h3>Enter New Data</h3>
      <input type="checkbox" [(ngModel)]="useCurrentDate" /> Use Current Date
      <label *ngIf="!useCurrentDate">Date: <input type="datetime-local" [(ngModel)]="newSensorData['date']" /></label>
      <label *ngFor="let param of parameters">
        {{ param }}: <input type="number" [(ngModel)]="newSensorData[param]" />
      </label>
      <button (click)="updateSensorData()" class="save">Update</button>
    </div>
  </div>
</div>