<body>
  <header class="header">
    <div class="header-content">
      <img src="../../../assets/small_logo.ico" height="100px">
      <div class="left-section">
        <div class="top-text">Computer monitoring of eco-energy-economic processes and systems</div>
        <div class="bottom-text">Labs: 1-4</div>
      </div>
      <div class="center-section">
        <!-- Filters Dropdown -->
        <div class="dropdown">
          <button class="dropbtn" (click)="toggleFilterMenu()">Filters</button>
          <div *ngIf="showFilterMenu" class="dropdown-content">
            <div class="filter-option">
              <label>
                <input type="checkbox" [(ngModel)]="filters.airstat" />
                Air Stat
              </label>
            </div>
            <div class="filter-option">
              <label>
                <input type="checkbox" [(ngModel)]="filters.waterstat" />
                Water Stat
              </label>
            </div>
            <div class="filter-option">
              <label>
                <input type="checkbox" [(ngModel)]="filters.soilstat" />
                Soil Stat
              </label>
            </div>
            <div class="filter-option">
              <label>
                <input type="checkbox" [(ngModel)]="filters.radiationstat" />
                Radiation Stat
              </label>
            </div>
            <div class="filter-option">
              <label>
                <input type="checkbox" [(ngModel)]="filters.waste" />
                Waste
              </label>
            </div>
            <div class="filter-option">
              <label>
                <input type="checkbox" [(ngModel)]="filters.economyStat" />
                Economy Stat
              </label>
            </div>
            <div class="filter-option">
              <label>
                <input type="checkbox" [(ngModel)]="filters.healthStat" />
                Health Stat
              </label>
            </div>
            <div class="filter-option">
              <label>
                <input type="checkbox" [(ngModel)]="filters.energyStat" />
                Energy Stat
              </label>
            </div>
            <button class="apply-filters-button" (click)="applyFilters()">Apply Filters</button>
          </div>
        </div>

        <div class="dropdown classes-dropdown">
          <button class="dropbtn" (click)="toggleClassMenu()">Classes</button>
          <div *ngIf="showClassMenu" class="dropdown-content">
            <div class="class-option">
              <label>
                <input type="radio" name="class" [(ngModel)]="selectedClass" value="airstat" (change)="applyClass()" checked />
                Air Stat
              </label>
            </div>
            <div class="class-option">
              <label>
                <input type="radio" name="class" [(ngModel)]="selectedClass" value="waterstat" (change)="applyClass()" />
                Water Stat
              </label>
            </div>
            <div class="class-option">
              <label>
                <input type="radio" name="class" [(ngModel)]="selectedClass" value="soilstat" (change)="applyClass()" />
                Soil Stat
              </label>
            </div>
            <div class="class-option">
              <label>
                <input type="radio" name="class" [(ngModel)]="selectedClass" value="radiationstat" (change)="applyClass()" />
                Radiation Stat
              </label>
            </div>
            <div class="class-option">
              <label>
                <input type="radio" name="class" [(ngModel)]="selectedClass" value="waste" (change)="applyClass()" />
                Waste
              </label>
            </div>
            <div class="class-option">
              <label>
                <input type="radio" name="class" [(ngModel)]="selectedClass" value="economyStat" (change)="applyClass()" />
                Economy Stat
              </label>
            </div>
            <div class="class-option">
              <label>
                <input type="radio" name="class" [(ngModel)]="selectedClass" value="healthStat" (change)="applyClass()" />
                Health Stat
              </label>
            </div>
            <div class="class-option">
              <label>
                <input type="radio" name="class" [(ngModel)]="selectedClass" value="energyStat" (change)="applyClass()" />
                Energy Stat
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="map-container">
    <div id="map"></div>
  </div>
</body>