// Original styles for map component
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3e3e3e;
  padding: 10px;
  color: white;
}

.header-content {
  display: flex;
  align-items: center;
}

.left-section, .center-section {
  margin-left: 20px;
}

.top-text {
  font-size: 18px;
}

.bottom-text {
  font-size: 14px;
  color: #ddd;
}

.map-container {
  height: 80vh;
  width: 100%;
  z-index: 0;
  position: relative;
}

// Styles for the dropdown button and content
.dropdown {
  position: relative;
  display: inline-block;

  .dropbtn {
    background-color: navy; /* Changed button color to navy */
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px; /* Customize width */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    .filter-option {
      color: black; /* Customize text color */
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      background-color: #fff; /* Background color for filter options */
      border-bottom: 1px solid #ddd;

      label {
        display: flex;
        align-items: center;

        input[type="checkbox"] {
          margin-right: 10px;
        }
      }

      &:hover {
        background-color: #f1f1f1; /* Hover effect */
      }
    }

    .apply-filters-button {
      background-color: #4CAF50; /* Customize button color */
      color: white;
      padding: 12px 16px;
      text-align: center;
      border: none;
      cursor: pointer;
      width: 100%;

      &:hover {
        background-color: #45a049;
      }
    }
  }

  &:hover .dropdown-content {
    display: block; /* Show the dropdown content on hover */
  }
}

#map {
  height: 100%; /* Ensure the map takes the full height of the container */
  width: 100%;
  z-index: 0; /* Ensure the map is beneath the dropdown */
}