.map-container {
  height: 100%;
  #map {
    height: 100%;
    width: 100%;
  }
}

body{
  background-color: #8697C4;
}

.header {
  height: 100px;
  background-color: #8697C4;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
}

.header-content {
  display: flex;
  justify-content: left;
  width: 100%;
  padding: 0 20px;
}

.left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.popup-content {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.popup-content h4 {
  margin: 0;
  padding: 0 0 10px 0;
  font-size: 16px;
  color: #333;
}

.popup-content input.title-input {
  margin-bottom: 10px;
  padding: 5px;
  width: calc(100% - 10px);
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.popup-content button {
  margin: 5px 5px 0 0;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
}

.popup-content .delete-button {
  background-color: #e74c3c;
  color: white;
  transition: background-color 0.3s;
}

.popup-content .delete-button:hover {
  background-color: #c0392b;
}

.popup-content .details-button {
  background-color: #3498db;
  color: white;
  transition: background-color 0.3s;
}

.popup-content .details-button:hover {
  background-color: #2980b9;
}

.popup-content .save-button {
  background-color: #2ecc71;
  color: white;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}

.popup-content .save-button:hover {
  background-color: #27ae60;
}

.popup-content .save-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}